.conatiner {
  display: block;
  height: 100%;
  width: 100%;
  background: #f8f8f8;
}

#logo {
  height: 70vh;
  margin: auto;
  max-height: 1000px;
  padding-top: 15vh;
  display: block;
  user-select: none;
}
