div.mat-elevation-z2 {
  margin-top: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: white;
  height: 100%;
}

.fab {
  position: fixed;
  bottom: 56px;
  right: 24px;
}
